body{
    background-color: rgb(215, 214, 214);
    margin: 0;
    padding: 0;
}
.page-item{
    border: 2px solid #000000ff;
    background-color: rgb(231, 224, 199);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}