body{
    background-color: rgb(246, 246, 246);
    margin: 0;
    padding: 0;
}

.main_text{
    width: 100%;
    height: 8vh;
    background-color: rgb(207, 207, 207);
    font-family: 'Open Sans', sans-serif;
    font-size:24px;
    display: flex;
    justify-content: left;
    align-items: center;
  
    
}
.text{
    width:fit-content;
      margin-left: 2%;
    
}
.main_text a{
    text-decoration: none;
    color: black;
}
